# to connect ./functions to work with Firebase Functions Emulator
API_URL="http://127.0.0.1:5001/fit-35/us-central1/api"

# to connect ./api to work with local Node.js Server 
# API_URL="http://localhost:3000"