NODE_ENV="production"

# to connect ./nest-api or ./api railway deployment, which is connected to railway postgres database
API_URL="https://35-fit-nest-api-production.up.railway.app"
# API_URL="https://35-fit-api-production.up.railway.app"

# to connect ./functions to work with Firebase Functions Emulator
# API_URL="https://127.0.0.1:5001/fit-35/us-central1/api"