@import "mixins";

body {
  font-family: $montserrat-font-family;
  user-select: none;
  // height: 3000px;
}

.fallback {
  opacity: 0;

  &.active {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.section {
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  // box-sizing   : border-box;
}

ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: unset;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

input,
button,
textarea {
  border: none;
}

a,
a:hover {
  text-decoration: none;
}

a,
button {
  cursor: not-allowed;
}

textarea {
  resize: none;
}

a:focus,
button:focus,
label:focus,
input:focus,
textarea:focus {
  outline: none;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.grey_label {
  @include label_styles;
  background-color: white;
  color: #6E7071;
}

.white_label {
  @include label_styles;
  @include white_styles;
}

.grey_input {
  @include input_styles;
  border-color: #B2B2B2;
  color: #004;
}

.white_input {
  @include input_styles;
  @include white_styles;
  border-color: #E8E8E8;
}

.part_radius {
  width: 95%;
  border-radius: 21px 0 0 26px;
  border-top: none;
  border-right: none;
}

.header_banner {
  background: url(../img/header_main.png) no-repeat center center;
}

.login_book {
  background: url(../img/patterns/lines_login_man.png) no-repeat 0 100% / contain #7fcbae;
  @media (min-width: 993px) {
    background-position: 0% 0%;
  }
}

.footer_touch {
  background: url(../img/patterns/lines_footer.png) no-repeat center 90% / contain #00003a;
  @media (max-width: 992px) {
    background-position-y: 70%;
  }
}

@media (min-width: 1200px) {
}

@media (hover: hover) {
  //     .section {
  //         max-width: 960px;
  //     }
  a,
  button {
    cursor: pointer;
  }
}

// @media (orientation: landscape) {
//   &_desk {
//     display: flex;
//   }
// }

// @media (orientation: portrait) {
//   &_desk {
//     display: block;
//   }
// }
