@import '../styles/variables-mixins.scss';

li {
  color     : blue;
  background: url(../img/inlineSvg/main_header_back.svg) no-repeat center center;
}

h1 {
  color: red;
}

#wordForm button {
  &.active {
    pointer-events: none;
  }
}