NODE_ENV="development"
JWT_KEY=""

PORT="3000"

PGHOST="fitdb" # to start locally with Docker
# PGHOST="localhost"
PGPORT=""
PGUSER=""
PGPASSWORD=""
PGDATABASE=""

# vars for prod mode, are set in railway servoce, can be active on dev
# PGHOST="monorail.proxy.rlwy.net"
# PGPORT="33230"
# PGUSER="postgres"
# PGPASSWORD="railway_password"
# PGDATABASE="railway"
# DB_SSL="true"
DATABASE_URL="postgresql://postgres:railway_password@monorail.proxy.rlwy.net:33230/railway"

DB_RAILWAY_CONNECTION="PGPASSWORD=railway_password psql -h monorail.proxy.rlwy.net -U postgres -p 33230 -d railway"

HEADLESS_URL="http://localhost:8080"