@import 'mixins';

.navigate {
  @include flex_center_bet;

  a {
    white-space: nowrap;
  }

  &_logo {
    margin-right: 10px;

    svg {
      display: block;
      fill   : $blue_color;
    }
  }

  &_menu {
    display       : grid;
    grid-auto-flow: column;
    gap           : 10px;
    margin-left   : auto;
  }




  &_login {
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 0 12px;
    box-sizing      : border-box;
    border-radius   : 32px;
    border          : 2px solid #E8E8E8;
    background-color: white;
    transition      : background-color .2s, color .2s;

    &:hover {
      background-color: #59B894;
      color           : white;
    }

    @media (max-width: 991px) {
      width: 112px;

      p {
        font-size: 14px;
      }

      .login_name {
        display: none;
      }

    }

    // "optionalDependencies": {
    // "fsevents": "~2.3.2"
    // },

    @media (min-width: 992px) {
      width: 125px;

      &:hover {
        cursor: pointer;
      }

      .login_name {
        width        : 80px;
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow     : hidden;
      }
    }


    .login_face {
      width        : 38px;
      height       : 38px;
      border-radius: 50%;
      border       : 2px solid white;
    }




  }


  @media (max-width: 991px) {
    // mobile styles

    &_logo svg {
      width : 104px;
      height: 44px;
    }

    &_routes,
    &_buy {
      display: none;
    }

    &_burger {
      @include flex_center_center;
      background-color: transparent;

      span,
      span::before,
      span::after {
        content         : '';
        width           : 40px;
        height          : 4px;
        position        : absolute;
        top             : 0;
        left            : 0;
        border-radius   : 2px;
        transform-origin: 50% 50%;
        transition      : all .45s cubic-bezier(.45, .45, .37, 1.36);
        background      : #7FCBAE;
      }

      span {
        display : inline-block;
        position: relative;

        &::before {
          transform: translateY(-.75rem);
        }

        &::after {
          transform: translateY(.75rem);
        }
      }

      &.active {
        span {
          transform       : translate(1rem);
          background-color: transparent;

          &::before {
            transform: translate(-1rem) rotate(135deg);
          }

          &::after {
            transform: translate(-1rem) rotate(-135deg);
          }
        }
      }


    }

  }

  @media (min-width: 992px) {
    // monitor styles

    &_burger {
      display: none;
    }

    &_logo svg {
      width     : 118px;
      height    : 50px;
      transition: fill .2s;

      &:hover {
        fill: $green_color;
      }
    }

    &_routes {
      display       : grid;
      grid-auto-flow: column;
      gap           : 10px;
      align-items   : center;

      a {
        font-size  : 14px;
        font-weight: 600;
        color      : $grey_color;
        transition : color .2s;

        &:hover {
          color: $red_color;
        }
      }
    }

    &_buy {
      @include flex_center_center;
      @include green_button;
      width     : 188px;
      padding   : 0 12px;
      color     : white;
      transition: background-color .2s;

      &:hover {
        background-color: $blue_color;
      }

      &:active {
        color: $red_color;
      }
    }

  }

  @media (min-width: 1080px) and (max-width: 1279px) {

    &_logo {
      margin-right: 20px;
    }

    &_routes,
    &_menu {
      gap: 20px;
    }
  }


  @media (min-width: 1280px) {

    &_logo {
      margin-right: 40px;
    }

    &_routes,
    &_menu {
      gap: 40px;
    }
  }

  // @media (orientation: landscape) {
  //   &_desk {
  //     display: flex;
  //   }
  // }

  // @media (orientation: portrait) {
  //   &_desk {
  //     display: block;
  //   }
  // }
}