NODE_ENV="development"
JWT_KEY="some_secret_jwt_key"

HOST="127.0.0.1"
PORT="3000"

DB_NAME="e-fit"
DB_USER="andrii"
DB_PASS="pass"
DB_HOST="localhost"
DB_PORT="5432"

PGHOST="monorail.proxy.rlwy.net"
PGPORT="33230"
PGUSER="postgres"
PGPASSWORD="railway_password"
PGDATABASE="railway"
DB_SSL="true"
DATABASE_URL="postgresql://postgres:railway_password@monorail.proxy.rlwy.net:33230/railway"

DB_RAILWAY_CONNECTION="PGPASSWORD=railway_password psql -h monorail.proxy.rlwy.net -U postgres -p 33230 -d railway"

HEADLESS_URL="http://localhost:8080"